:root {
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(fondo-black.png);
    background-size: cover;
    background-repeat: repeat;
    color: var(--white);
}

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 20px;
}

.logo img {
    width: 6rem;
    height: auto;
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 2%;
}

li>a {
    text-decoration: none;
    font-size: 22px;
    color: var(--white);
    margin: 0px 15px;
}

li>a:hoover {
    color: rgba(255, 255, 255, 0.1);
}

section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}

.img-inicio {
    width: 500px;
    height: 500px;
}

.img-inicio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.descripcion-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: auto;
    text-align: center;
    margin-bottom: 25px;
}

.container iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-inicio iframe {
    width: 100%;
    height: 436px;
}

.descripcion-inicio>h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.descripcion-inicio>p {
    font-size: 1rem;
}

.fecha-inicio {
    margin-top: 15px;
}

.copyright {
    font-size: small;
}

.fechaFoto {
    margin-top: 15px;
}

div#loading {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 44%;
    left: 48%;
    border-radius: 50%;
    display: none;
    z-index: 1;
    overflow: hidden;
}

img#img-loading {
    width: 182px;
    height: auto;
    border-radius: 50%;
    position: relative;
    left: -40px;
    top: -40px;
}

.descripcion-inicio>img {
    width: 100px;
}

@media only screen and (max-width: 480px) {
    ul {
        margin-top: 20px;
    }

    .img-inicio {
        width: 200px;
        height: 200px;
    }

    .descripcion-inicio {
        width: 200px;
    }

    section {
        padding: 0px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 600px) {
    header {
        justify-content: center;
    }

    .img-inicio {
        width: 300px;
        height: 300px;
    }

    .descripcion-inicio {
        width: 300px;
    }
}

@media screen and (max-width: 768px) {
    header {
        padding-bottom: 0px;
    }
}

@media screen and (max-width: 1024px) {
    .img-inicio {
        width: 400px;
        height: 400px;
    }

    .descripcion-inicio {
        width: 400px;
    }
}